# Arduino IDE
*.elf
*.bin
*.hex
*.map
build/
.build/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Rust
sender-rs/target/
proto/target/

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/

# IDE / editor
.vscode/
*.swp
*.swo
*~
.idea/

# OS
Thumbs.db
.DS_Store
